Library/
Logs/
UserSettings/
obj/
Temp/
Assets/Data/
bin/

.idea/
.vs/

*.csproj
*.sln

ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
Assets/Data.meta

docs/_site/
docs/api/
